
@{
    ViewBag.Title = "Reports";
}

<h2>Run a Report</h2>

@Html.ActionLink("Report Total Seats/Revenue", "GenerateReport", "Reports", null, new { @class = "btn btn-info" })

@Html.ActionLink("Report By Customer", "GenerateCustomerReport", "Reports", null, new { @class = "btn btn-info" })

@Html.ActionLink("Show PopcornPoint Transactions", "DisplayPopcornReport", "Reports", null, new { @class = "btn btn-info" })

