@model AWO_Team14.Models.Showing
@{
    ViewBag.Title = "ChooseMovie";
}

<h2>Choose Movie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Select a :</label>
            <div class="col-md-10">
                @Html.DropDownList("SelectedMovies", (SelectList)ViewBag.AllMovies, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


