
@using AWO_Team14.Controllers
@{

    ViewBag.Title = "Change Employee Status";
}

<h2>Change Employee Status</h2>

@using (Html.BeginForm("ChangeEmployeeStatus", "Accounts", FormMethod.Get))
{

    <p class="form-group">
        Select a customer:
        <br />
        @Html.DropDownList("id", (SelectList)ViewBag.AllEmployees, new { @class = "form-control" })
    </p>
    <p class="form-group">
        <label class="radio">@Html.RadioButton("EmploymentAction", EmploymentAction.Hire, true)Hire</label>
        <label class="radio">@Html.RadioButton("EmploymentAction", EmploymentAction.Fire)Fire</label>
    </p>

    <p class="form-group">
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}








