
@{
    ViewBag.Title = "ShowdateSearch";
}

<h2>Find a movie playing after:</h2>

@using (Html.BeginForm("DisplayShowdateSearch", "Home", FormMethod.Get))
{
    <p class="form-group">
        Show Date: <input type="date" name="ShowDate" class="form-control" />
    </p>
    <p class="form-group">
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}


